:root {
    --transperent: #283442c7;
    --red: #e50913;
    --darkish-black: #151210;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Netflix Sans regular";
}

header {
    color: white;
    font-family: "Netflix Sans bold";
    height: 100vh;
}

nav {
    position: relative;
    flex-wrap: wrap;
    z-index: 5;
    margin: auto;
    width: 75%;
    padding: 12px;
    height: 10vh;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.flex-between {
    align-items: center;
    justify-content: space-between;
}

.center {
    align-items: center;
    justify-content: center;
}

.bg-box::before {
    position: absolute;
    content: "";
    top: 0;
    background: url('./bg.jpg');
    background-position: center center;
    background-size: max(1200px, 100%);
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

.bg-box {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-btn-box {
    height: 55%;
    gap: 12px;
    flex-wrap: wrap;
}

.hero {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.hero-content {
    gap: 18px;
    text-align: center;
    width: 80%;
    max-width: 27rem;
}

.hero-content :first-child {
    font-family: "Netflix Sans bold";
    font-size: 40px;
}

select {
    min-width: 150px;
    padding-inline: 12px;
    padding: 12px;
    outline: none;
    border-radius: 10px;
    color: white;
    background: var(--transperent);
}

.btn {
    /* height: 100%; */
    color: white;
    padding: 12px 2rem;
    border-radius: 5px;
    border: none;
    background: var(--red);
}

.form-box {
    background: var(--transperent);
    padding-inline: 15px;
    flex: 1;
    height: 100%;
    border-radius: 5px;

    label {
        color: rgb(119, 119, 119);
    }

    input {
        border: none;
        background: none;
    }
}

form {
    margin-top: 12px;
}

.form {
    margin-top: 12px;
    height: 100%;
    gap: 15px;
}

.trending::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(to right, #141e30, #243b55);
}

.trending {
    color: white;
    position: relative;
}

.trending-menus {
    gap: 20px;
}

.trending-main {
    width: 75%;
    margin: auto;
    padding: 20px 2.5rem;
    flex-wrap: wrap;
    z-index: 1;
    gap: 25px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.cards-container {
    flex-wrap: wrap;
    gap: 30px;

}

.trending-card {
    border-radius: 8px;
    width: 190px;
    height: 260px;
    transition: all ease 0.2s;
}

#card1 {
    border-radius: 8px;
    width: 80%;
    height: 100%;
    background: url(./images/card1.jpg) center center/cover;
}

#card2 {
    border-radius: 8px;
    width: 80%;
    height: 100%;
    background: url(./images/card2.jpg) center center/cover;
}

#card3 {
    border-radius: 8px;
    width: 80%;
    height: 100%;
    background: url(./images/card3.jpg) center center/cover;
}

#card4 {
    border-radius: 8px;
    width: 80%;
    height: 100%;
    background: url(./images/card1.jpg) center center/cover;
}

#card5 {
    border-radius: 8px;
    width: 80%;
    height: 100%;
    background: #000;
    background: url(./images/card2.jpg) center center/cover;
}

.trending-card:hover {
    transform: scale(1.1);
}

.more {
    width: 75%;
    margin: auto;
    color: white;
    gap: 20px;
}

.more-card {
    align-items: end;
    padding: 15px;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background: rgb(25, 33, 70);
    background: linear-gradient(138deg, rgba(25, 33, 70, 1) 42%, rgba(102, 8, 52, 1) 100%);
}

.more-card-body {
    gap: 20px;
}

.gap {
    gap: 25px;
}

.list {
    width: 75%;
    margin-inline: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    gap: 30px;
}

.list :nth-child(2) {
    gap: 12px;
}

.question {
    background: #2d2d2d;
    padding: 0.5rem 2.5rem;
    font-size: 25px;
}

#form-box {
    width: 100%;
}

#form-box>div {
    padding: 10px;
}

#form-box>.btn {
    height: 100%;
    padding: 20px;
}

footer {
    width: 75%;
    margin: auto;
    gap: 20px;
    color: gray;
}

@media only screen and (max-width: 624px) {
    .flex {
        justify-content: center;
        align-items: center;
    }

    .hero-content :first-child {
        font-size: 20px;
    }

    .nav-btn-box {
        display: none;
    }

    .form {
        flex-direction: column;
    }

    .hero {
        align-self: flex-end;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
    }

    .trending-main,
    .more,
    .list,
    footer {
        text-align: center;
    }

    .trending-card {
        justify-content: center;
        align-items: center;
    }

    #card1,
    #card2,
    #card3,
    #card4,
    #card5 {
        width: 100%;
    }

    .trending-menus select {
        width: 100%;
    }

    .more h1 {
        margin-left: 0 !important;
        font-size: 22px;
    }

    .list h1 {
        font-size: 20px;
    }

    .question {
        font-size: 16px;
        padding-inline: 5px;
    }

    .question :nth-child(2) {
        display: none;
    }
}