:root {
    --transperent: #283442c7;
    --red: #e50913;
    --darkish-black: #151210;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Netflix Sans regular";
}

header {
    color: white;
    /* width: 100vw; */
    height: 100vh;
}

nav {
    position: relative;
    flex-wrap: wrap;
    z-index: 1;
    margin: auto;
    width: 85%;
    padding: 12px;
    height: 10vh;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.flex-between {
    align-items: center;
    justify-content: space-between;
}

.center {
    align-items: center;
    justify-content: center;
}

.bg-box::before {
    position: absolute;
    content: "";
    top: 0;
    background: url('./bg.jpg');
    background-position: center center;
    background-size: max(1200px, 100%);
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

.bg-box {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-btn-box {
    height: 55%;
    gap: 12px;
    flex-wrap: wrap;
}

.hero {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.hero-content {
    gap: 18px;
    text-align: center;
    width: 80%;
    max-width: 27rem;
}

.hero-content :first-child {
    font-family: "Netflix Sans bold";
    font-size: 40px;
}

select {
    padding-inline: 12px;
    height: 100%;
    border-radius: 5px;
    color: white;
    background: var(--transperent);
}

.btn {
    height: 100%;
    color: white;
    padding: 10px 2rem;
    border-radius: 5px;
    border: none;
    background: var(--red);
}

.form-box {
    background: var(--transperent);
    padding-inline: 15px;
    flex: 1;
    height: 100%;
    border-radius: 5px;

    label {
        color: rgb(119, 119, 119);
    }

    input {
        border: none;
        background: none;
    }
}

form {
    margin-top: 12px;
}

.form {
    margin-top: 12px;
    height: 100%;
    gap: 15px;
}

.trending::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(to right, #141e30, #243b55);
}

.trending {
    position: relative;
    flex-wrap: wrap;
    z-index: 1;
    gap: 15px;
    width: 100%;
    /* padding: 12px; */
}